@media screen and (max-width: 768px) {
  .img-a {
    display: none;
  }
  body {
    max-width: 768px;
  }
  #banner h1 {
    font-size: 28px;
  }
  .nav-item {
    padding: 0;
    padding: 0;
  }
  .fix-li-a {
    margin-right: 25px;
  }
  .fix-li-b {
    margin-left: 25px;
  }
  #nav-bar {
    max-width: fit-content;
  }
  #target {
    font-size: 14px;
    text-align: left;
    height: 400px;
    padding-top: 0;
    padding-right: 0;
  }
  #target h1 {
    line-height: 0.8;
    font-size: 18px;
    font-weight: 700;
  }
  #target p {
    line-height: 2;
    font-size: 14px;
    padding-top: 0;
  }
  #personal-info {
    padding: 0;
    text-align: left;
    height: 400px;
    padding-right: 20px;
  }
  #personal-info h1 {
    padding-left: 20px;
    line-height: 0.8;
    font-size: 20px;
    font-weight: 700;
  }
  #personal-info ul {
    line-height: 2;
    font-size: 14px;
  }
  #about {
    margin: 0;
    height: 400px;
  }
  .icon-twitter {
    padding-left: 30px;
  }
  /* fix experience */
  #job-info {
    font-size: 14px;
  }
  .experience {
    line-height: 1.2;
    padding-top: 0;
    margin-right: 20px;
  }
  .hientai {
    height: 20px;
  }
  .container-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .hoatdong {
    line-height: 1;
    height: 400px;
  }
  /* fix-chứng chỉ-giải thưởng */
  .cc-all {
    font-size: 12px;
    line-height: 1;
  }
  .cc-all img {
    width: 300px;
    height: 150px;
  }
  .p-1 {
    margin-bottom: 0;
  }

  .cc-1 {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .cc-3 {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .fix-ab {
    width: 768px;
    margin: 20px;
  }
  .fix-c {
    width: 768px;
    margin: 20px;
  }
  .cc-5 {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
  }
  #certificate {
    height: auto;
  }
  /* fix-dự-án */
  #project {
    width: 768px;
    margin: 0;
    font-size: 12px;
  }
  .project-all {
    width: 768px;
    margin: 0;
  }
  .project-all img,
  .project-a,
  .title-cv-a,
  .cv-time-a,
  .cv-div-a,
  .cv-table {
    width: 210px;
  }
  .project-a {
    height: 550px !important;
  }
  .project-c {
    height: 550px;
  }
  /* fix-footer */
  .footer-ul {
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
